absl-py=2.1.0
accelerate=1.3.0
aiofiles=23.2.1
aiohappyeyeballs=2.4.4
aiohttp=3.11.11
aiosignal=1.3.2
alembic=1.14.1
altair=5.5.0
annotated-types=0.7.0
anyio=3.7.1
appnope=0.1.3
argon2-cffi=21.3.0
argon2-cffi-bindings=21.2.0
arrow-cpp=19.0.0
asn1crypto=1.5.1
astroid=3.3.8
asttokens=2.0.5
astunparse=1.6.3
async-timeout=5.0.1
attrs=24.3.0
aws-c-auth=0.6.19
aws-c-cal=0.5.20
aws-c-common=0.8.5
aws-c-compression=0.2.16
aws-c-event-stream=0.2.15
aws-c-http=0.6.25
aws-c-io=0.13.10
aws-c-mqtt=0.7.13
aws-c-s3=0.1.51
aws-c-sdkutils=0.1.6
aws-checksums=0.1.13
aws-crt-cpp=0.18.16
aws-sdk-cpp=1.11.212
babel=2.16.0
bcrypt=4.2.1
beautifulsoup4=4.12.3
bitsandbytes=0.42.0
black=25.1.1.dev6+g5f23701
blas=1.0
blas-devel=3.9.0
bleach=6.2.0
blinker=1.9.0
boost-cpp=1.78.0
bottle=0.12.23
bottleneck=1.4.2
brotli-python=1.0.9
bzip2=1.0.8
c-ares=1.34.4
ca-certificates=2025.2.25
cachetools=5.5.1
certifi=2025.1.31
cffi=1.17.1
cftime=1.6.4.post1
charset-normalizer=3.4.1
click=8.1.8
cloudpickle=3.1.1
colorama=0.4.6
coloredlogs=15.0.1
comm=0.2.1
configparser=7.1.0
contourpy=1.3.1
cryptography=44.0.0
cycler=0.11.0
cython=3.0.12
dataclasses=0.8
dataclasses-json=0.6.7
datasets=3.2.0
debugpy=1.8.11
decorator=5.1.1
defusedxml=0.7.1
deprecated=1.2.16
dill=0.3.8
dirtyjson=1.0.8
distro=1.9.0
dnspython=2.7.0
docker=7.1.0
email-validator=2.2.0
entrypoints=0.4
exceptiongroup=1.2.0
executing=0.8.3
expat=2.6.4
faiss=1.9.0
faiss-cpu=1.10.0
fastapi=0.115.7
fastapi-cli=0.0.7
fasteners=0.19
fastjsonschema=2.20.0
ffmpy=0.5.0
filelock=3.17.0
filetype=1.2.0
flask=3.1.0
flatbuffers=25.1.24
fonttools=4.55.3
freetype=2.10.4
frozenlist=1.5.0
fsspec=2024.9.0
gast=0.6.0
gflags=2.2.2
giflib=5.2.2
gitdb=4.0.12
gitpython=3.1.44
glog=0.5.0
google-pasta=0.2.0
gorilla=0.4.0
gradio-client=1.6.0
greenlet=3.1.1
grpcio=1.67.1
gunicorn=23.0.0
h11=0.14.0
h2=4.1.0
h5py=3.12.1
hpack=4.1.0
httpcore=1.0.2
httptools=0.6.4
httpx=0.27.0
huggingface-hub=0.27.1
huggingface_hub=0.28.0
humanfriendly=10.0
hyperframe=6.1.0
icu=70.1
idna=3.10
importlib-metadata=8.6.1
iniconfig=2.0.0
ipykernel=6.29.5
ipython=8.30.0
ipython-genutils=0.2.0
isort=6.0.0
itsdangerous=2.2.0
jedi=0.19.2
jinja2=3.1.5
jiter=0.8.2
joblib=1.4.2
jpeg=9e
json5=0.9.25
jsonpatch=1.33
jsonpointer=3.0.0
jsonschema=4.23.0
jsonschema-specifications=2023.7.1
jupyter-client=8.6.0
jupyter-core=5.7.2
jupyter-server=1.13.5
jupyterlab=3.3.2
jupyterlab-server=2.16.3
keras=3.8.0
kiwisolver=1.4.8
krb5=1.20.1
langchain=0.3.15
langchain-core=0.3.31
langchain-text-splitters=0.3.5
langsmith=0.3.1
lcms2=2.16
lerc=4.0.0
libabseil=20240116.2
libblas=3.9.0
libbrotlicommon=1.0.9
libbrotlidec=1.0.9
libbrotlienc=1.0.9
libcblas=3.9.0
libclang=18.1.1
libcrc32c=1.1.2
libcurl=8.11.1
libcxx=19.1.7
libdeflate=1.22
libedit=3.1.20191231
libev=4.33
libevent=2.1.12
libexpat=2.6.4
libfaiss=1.9.0
libffi=3.4.4
libgfortran=5.0.0
libgfortran5=13.2.0
libgoogle-cloud=2.24.0
libgoogle-cloud-storage=2.24.0
libgrpc=1.62.2
libjpeg-turbo=2.0.0
liblapack=3.9.0
liblapacke=3.9.0
libnghttp2=1.57.0
libopenblas=0.3.24
libpng=1.6.39
libprotobuf=4.25.3
libsqlite=3.46.0
libssh2=1.11.1
libthrift=0.15.0
libtiff=4.5.1
libtorch=2.5.1
libutf8proc=2.8.0
libuv=1.50.0
libwebp=1.3.2
libwebp-base=1.3.2
libzlib=1.2.13
llama-cloud=0.1.10
llama-index=0.12.13
llama-index-agent-openai=0.4.2
llama-index-cli=0.4.0
llama-index-core=0.12.13
llama-index-embeddings-openai=0.3.1
llama-index-indices-managed-llama-cloud=0.6.4
llama-index-llms-openai=0.3.14
llama-index-multi-modal-llms-openai=0.4.2
llama-index-program-openai=0.3.1
llama-index-question-gen-openai=0.3.0
llama-index-readers-file=0.4.4
llama-index-readers-llama-parse=0.4.0
llama-parse=0.5.20
llvm-openmp=19.1.7
loguru=0.7.2
lz4-c=1.9.4
mako=1.3.8
markdown=3.7
markdown-it-py=3.0.0
markupsafe=2.1.3
marshmallow=3.26.0
matplotlib=3.10.0
matplotlib-inline=0.1.6
mccabe=0.7.0
mdurl=0.1.2
milvus=2.3.9
milvus-lite=2.4.11
mistune=3.1.0
ml-dtypes=0.4.1
mpmath=1.3.0
multidict=6.1.0
multiprocess=0.70.16
mypy-extensions=1.0.0
namex=0.0.8
narwhals=1.23.0
nbclassic=0.5.6
nbconvert=5.5.0
nbformat=5.10.4
ncurses=6.5
nest-asyncio=1.6.0
netcdf4=1.7.2
networkx=3.4.2
nltk=3.9.1
nomkl=1.0
notebook-shim=0.2.4
numexpr=2.10.1
numpy=2.0.2
numpy-base=1.26.4
oauthlib=3.2.2
ollama=0.4.7
onnxruntime=1.20.1
openai=1.60.0
openblas=0.3.24
openjpeg=2.5.2
openssl=3.4.1
opentelemetry-api=1.29.0
opt-einsum=3.4.0
optree=0.14.0
orc=2.0.1
orjson=3.10.15
packaging=24.2
pandas=2.2.3
pandocfilters=1.5.0
paramiko=3.5.0
parso=0.8.4
patch-ng=1.18.1
pathspec=0.12.1
pexpect=4.8.0
pillow=11.0.0
pip=25.0.1
platformdirs=3.10.0
pluggy=1.5.0
pluginbase=1.0.1
prometheus-client=0.13.1
prompt-toolkit=3.0.43
propcache=0.2.1
protobuf=5.29.3
psutil=5.9.0
ptyprocess=0.7.0
pure-eval=0.2.2
pyarrow=19.0.0
pycparser=2.22
pydantic=2.10.6
pydantic-core=2.27.2
pydeck=0.9.1
pydub=0.25.1
pygments=2.15.1
pyjwt=2.10.1
pylint=3.3.4
pymilvus=2.6.0rc68
pymilvus-model=0.3.0
pynacl=1.5.0
pyopenssl=24.3.0
pyparsing=3.2.0
pypdf=5.1.0
pysocks=1.7.1
pytest=8.3.4
python=3.12.3
python-dateutil=2.9.0.post0
python-dotenv=1.0.1
python-multipart=0.0.20
python-tzdata=2025.1
python-xxhash=3.5.0
python_abi=3.12
pytorch=2.3.1
pytz=2024.1
pyyaml=6.0.2
pyzmq=26.2.0
querystring-parser=1.2.4
re2=2022.04.01
readline=8.2
referencing=0.30.2
regex=2024.11.6
requests=2.32.3
requests-toolbelt=1.0.0
responses=0.18.0
rich=13.9.4
rich-toolkit=0.11.3
rpds-py=0.22.3
ruff=0.9.3
safehttpx=0.1.6
safetensors=0.5.2
scikit-learn=1.5.2
scipy=1.15.1
seaborn=0.11.2
semantic-version=2.10.0
send2trash=1.8.2
sentence-transformers=3.4.1
setuptools=72.1.0
shellingham=1.5.4
simplejson=3.19.3
six=1.16.0
sleef=3.5.1
smmap=5.0.0
snakeviz=2.2.2
snappy=1.2.1
sniffio=1.3.1
snowflake-connector-python=3.13.0
snowflake-sqlalchemy=1.7.3
sortedcontainers=2.4.0
soupsieve=2.6
sqlalchemy=2.0.37
sqlite=3.45.3
sqlparse=0.5.3
stack-data=0.2.0
starlette=0.45.2
streamlit=1.41.1
striprtf=0.0.26
sympy=1.13.1
tabulate=0.9.0
tenacity=9.0.0
tensorboard=2.18.0
tensorboard-data-server=0.7.2
tensorflow=2.18.0
termcolor=2.5.0
terminado=0.17.1
testpath=0.6.0
tf-keras=2.18.0
threadpoolctl=3.5.0
tiktoken=0.8.0
tk=8.6.14
tokenizers=0.21.0
toml=0.10.2
tomlkit=0.13.2
torchaudio=2.3.1
torchvision=0.18.1
tornado=6.4.2
tqdm=4.67.1
traitlets=5.14.3
transformers=4.48.3
typer=0.15.1
typer-slim=0.15.1
typing-extensions=4.12.2
typing-inspect=0.9.0
typing_extensions=4.12.2
tzdata=2023.3
ujson=5.10.0
urllib3=1.26.19
utf8proc=2.6.1
uvicorn=0.34.0
uvloop=0.21.0
watchfiles=1.0.4
wcwidth=0.2.5
webencodings=0.5.1
websocket-client=1.8.0
websockets=14.2
werkzeug=3.1.3
wheel=0.45.1
wrapt=1.17.2
xarray=2025.1.2
xxhash=0.8.0
xz=5.4.6
yaml=0.2.5
yarl=1.18.3
zipp=3.21.0
zlib=1.2.13
zstandard=0.23.0
zstd=1.5.6
